@import "https://fonts.googleapis.com/css?family=Raleway";

#resumeButton { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /*background: teal;*/
  color: white;
  border: 1px solid white;
}

#contactButton { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /*background: teal;*/
  color: white;
  border: 1px solid white;
}

#contactCloseButton { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /*background: teal;*/
  color: white;
  border: 1px solid white;
}


#contactButton:hover { background: #727272; }
#contactButton:active { background: #444; }

#resumeButton:hover { background: #727272; }
#resumeButton:active { background: #444; }

#contactCloseButton:hover { background: #727272; }
#contactCloseButton:active { background: #444; }


#contactFormContainer { 
  display: none;

  border: 6px solid #444; 
  padding: 2em;
  width: 50%;
  height: 90%;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
}

#contactCloseButton {
  position:absolute; top:0; right:0;
  color: white;
  background: #3AAA64;
  border-color: #444444;
  width: 30px;
  height: 25px;
}